.card{
    position: relative;
    width: 175px;
    height: 250px;
    background-color: white;
    border-radius: 0.5rem;
    border: 0.5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card::before,.card::after{
    position: absolute;
    content: attr(data-value);
    font-size: 2rem;
}

.card::before{
    top: 0.5rem;
    left: 0.5rem;
}

.card::after{
    bottom: 0.5rem;
    right: 0.5rem;
    transform: rotate(180deg);
}